{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div class="card text-white bg-primary mb-3" >
        <div class="card-body">
            <h2 class="card-title">{{profileUser}}</h2>
            <p class="card-text">Welcome to {{profileUser}}'s profile!</p>
            <hr>
            <div class="profileHeader">
                <div class="row">
                  <div class="col">
                    <h6>Followers</h6>
                    <h6>{{profileUser.follower.count}}</h6>
                  </div>
                  <div class="col">
                    <h6>Following</h6>
                    <h6>{{profileUser.following.count}}</h6>
                  </div>
                </div>
              </div>
            {% if user.is_authenticated %}
                {% if not isFollowing %}
                    <form method="post" action="{% url 'follow' profileUser.id %}">
                        {% csrf_token %}
                        <input class="btn btn-light" type="submit" value="Follow">
                    </form>    
                {% else %}
                    <form method="post" action="{% url 'unfollow' profileUser.id %}">
                        {% csrf_token %}
                        <input class="btn btn-light" type="submit" value="UnFollow">
                    </form>   
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% for post in allPosts %}
        <div class="card" style="margin-top:10px;">
            <div class="card-body">
                {% if user.is_authenticated %}
                {% if user == post.user %}
                    <button type="button" id="edit-btn" class="btn btn-primary btn-sm" style="float:right;" onclick="editPostController('{{ post.id }}', '{{ post.content }}')">Edit</button>
                {% endif %}
                {% endif %}
                <h5 class="card-title">{{ post.user }}</h5>
                <div id="post-body-{{post.id}}" style='padding-bottom: 15px;'>
                    <p class="card-text">{{ post.content }}</p>
                </div>
                {% if user.is_authenticated %}
                <button class='btn btn-danger btn-sm'>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                    </svg>
                </button>
                {% endif %}
                <p class='list-inline-item'>Likes: {{post.likes.count}}</p>
                <small class="text-muted">{{ post.timestamp }}</small>
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <span class="text-center">
            Page {{ allPosts.number }} of {{ allPosts.paginator.num_pages }}.
        </span>
        <ul class="pagination justify-content-center">
        {% if allPosts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ allPosts.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
        {% endif %}
        {% for i in pageNumbers %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
        {% if allPosts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ allPosts.next_page_number }}">Next</a>
            </li>
        {% endif %}
        </ul>
    </nav>

{% endblock %}

{% block script %}
    <script src="{% static 'network/editPost.js' %}"></script>
{% endblock %}